@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.register {
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.custom-form {
  width: 90%; /* Utiliza un porcentaje del ancho de la ventana */
  max-width: 350px; /* Establece un ancho máximo */
  height: auto; /* La altura será determinada por el contenido */
  background: rgba(255, 255, 255);
  padding: 1.5rem; /* Ajusta el padding */
  border-radius: 1rem;
  text-align: center;
  position: relative; /* Necesario para posicionar la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para mejor visibilidad */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: absolute; /* Posiciona el contenedor del logo */
  top: -60px; /* Ajusta la posición superior del logo */
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 150px; /* Tamaño del logo ajustado */
  height: 150px; /* Tamaño del logo ajustado */
  border-radius: 50%;
  object-fit: cover;
}

.custom-form h1 {
  margin-top: 4rem; /* Ajusta el margen superior para compensar el logo */
  margin-bottom: 1.5rem; /* Ajusta el margen inferior */
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  color: #333;
}

.custom-form input,
.custom-form select {
  display: block;
  width: 80%; /* Ancho reducido */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 1.5rem; /* Ajusta la distancia entre los inputs */
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #116ac9;
  cursor: pointer;
  padding: 0;
  width: 100% !important;
}

.custom-form button {
  width: 50%; /* Ancho ajustado */
  padding: 0.5rem; /* Ajusta el padding */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 1rem; /* Ajusta la distancia entre el último input y el botón */
  border: none;
  border-radius: 0.5rem;
  background-color: #116ac9;
  color: #fff;
  font-size: 0.9rem; /* Tamaño de fuente ajustado */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-form button:hover {
  background-color: #0056b3;
}

/* Consulta de medios para ajustar estilos en pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .custom-form {
    width: 90%; /* Utiliza un porcentaje del ancho de la ventana */
    max-width: 280px; /* Establece un ancho máximo */
    padding: 1rem; /* Ajusta el padding */
  }

  .logo {
    width: 120px; /* Tamaño del logo ajustado */
    height: 120px; /* Tamaño del logo ajustado */
  }

  .custom-form h1 {
    margin-top: 3.5rem; /* Ajusta el margen superior para compensar el logo */
    margin-bottom: 1rem; /* Ajusta el margen inferior */
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
  }

  .custom-form input {
    width: 85%; /* Ancho ajustado */
    margin-bottom: 1rem; /* Ajusta la distancia entre los inputs */
  }

  .custom-form button {
    width: 85%; /* Ancho ajustado */
    margin-top: 0.8rem; /* Ajusta la distancia entre el último input y el botón */
  }

  
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: hsl(0, 1%, 67%);
  border-radius: 0.25em;
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
