.statisticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff; /* Fondo blanco para la caja */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */

  }

/* Ajustes para la barra de navegación */
app-navbar {
    width: 100%;
  }
  
  /* Ajustes para hacer responsive */
  @media (max-width: 768px) {
    app-navbar {
      position: relative; /* Añadido para corregir posibles problemas de superposición */
    }
}

h1 {
  color: #116ac9;
  text-align: center;
  margin-bottom: 2rem;
}

.statistic-table {
  width: 70%;
  border-collapse: collapse;
}

.statistic-table th,
.statistic-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.statistic-table th {
  background-color: #116ac9;
  color: white;
}

.statistic-table tr:hover {
  background-color: #f1f1f1;
}

.predictions-info p {
  margin: 0.5rem 0; 
}

.predictions-info{
  margin-top: 3em;
}






