.statisticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff; /* Fondo blanco para la caja */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
  }

.careerStatistics {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9; /* Fondo ligeramente gris para cada sección de carrera */
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    width: 100%; /* Ocupa todo el ancho disponible dentro del contenedor principal */
}

/* Ajustes para la barra de navegación */
app-navbar {
    width: 100%;
  }
  
  /* Ajustes para hacer responsive */
  @media (max-width: 768px) {
    app-navbar {
      position: relative; /* Añadido para corregir posibles problemas de superposición */
    }
}






