<div class="home-container">
    <div class="card"> 
      <h1>Términos y condiciones</h1>
      <p>Se deben predecir los partidos ingresando los posibles resultados presionando el botón "ingresar"</p>
      <p>Las predicciones se pueden realizar hasta una hora antes del comienzo del partido</p>
      <p>Se otorgarán 4 puntos por resultado exacto del partido</p>
      <p>Se otorgarán 2 puntos por resultado correcto del partido</p>
      <p>Se otorgarán 10 puntos por predecir el campeón del campeonato</p>
      <p>Se otorgarán 5 puntos por predecir el subcampeón del campeonato</p>
      <p>Cada día se enviará una notificación vía mail con los partidos que aún te falta predecir</p>
      <div class="button-container">
        <button class="submit-button" (click)="accept()">Aceptar</button>
      </div>
    </div>
  </div>
  