<div class="home-container">
  <app-navbar></app-navbar>
  
  <div class="matches-container">
    <div *ngFor="let match of matchesAndTeams" class="card">
      <div class="match-info">
        <div class="team-info">
          <img [src]="'../assets/images/Flags/' + match.LocalTeamFlag" [alt]="match.LocalTeamName" class="team-badge">
          <p>{{ match.LocalTeamName }}</p>
        </div>
        <p class="vs">vs</p>
        <div class="team-info">
          <img [src]="'../assets/images/Flags/' + match.VisitantTeamFlag" [alt]="match.VisitantTeamName" class="team-badge">
          <p>{{ match.VisitantTeamName }}</p>
        </div>
      </div>
      <div class="prediction-inputs">
        <div *ngIf="match.LocalTeamResult != undefined && match.VisitantTeamResult != undefined">
          <!-- Mostrar predicciones ingresadas -->
          <p class="local">Local: {{ match.LocalTeamResult }}</p>
          <p>Visitante: {{ match.VisitantTeamResult }}</p>
        </div>
        <div *ngIf="match.LocalTeamResult === undefined || match.VisitantTeamResult === undefined">
          <!-- Inputs para ingresar predicciones si no han sido ingresadas -->
          <input type="number" placeholder="Local" [(ngModel)]="match.localPrediction" class="prediction-input">
          <input type="number" placeholder="Visitante" [(ngModel)]="match.visitantPrediction" class="prediction-input">
          <button class="submit-button" (click)="savePredictions(match.MatchId, match.localPrediction, match.visitantPrediction)">Ingresar</button>
        </div>
      </div>
      <div class="match-details">
        <p>{{ match.Date | date }}</p>
        <p>{{ match.Location }}</p>
      </div>
    </div>
  </div>
</div>
