<!-- home.component.html -->
<div class="home-container">
  <app-navbar></app-navbar>
  
  <div class="matches-container">
    <div *ngFor="let match of matchesAndTeams" class="card">
      <div class="match-info">
        <div class="team-info">
          <img [src]="'../assets/images/Flags/' + match.LocalTeamFlag" [alt]="match.LocalTeamName" class="team-badge">
          <p>{{ match.LocalTeamName }}</p>
        </div>
        <p class="vs">vs</p>
        <div class="team-info">
          <img [src]="'../assets/images/Flags/' + match.VisitantTeamFlag"  [alt]="match.VisitantTeamName" class="team-badge">
          <p>{{ match.VisitantTeamName }}</p>
        </div>
      </div>
      <div class="match-details">
        <p>{{ match.Date | date }}</p>
        <p>{{ match.Location }}</p>
      </div>
    </div>
  </div>
</div>
