<nav class="navbar">
    <a routerLink="/home" class="logo-container">
        <img src="/assets/images/Banners/Conmebol Copa America USA 2024.png" alt="Copa América" class="logo">
    </a>
    <ul class="nav-links">
        <li><a routerLink="/home">Partidos</a></li>
        <li><a routerLink="/ranking">Ranking</a></li>
        <li><a routerLink="/info">Info</a></li>
        <li><a routerLink="/statistics">Estadísticas</a></li>
    </ul>
    <button class="profile-button" (click)="logOut()">
        <img src="../assets/images/logout2.png" alt="Perfil" class="profile-img">
    </button>
    
    <!-- 
    <a routerLink="/profile" class="profile-container">
        <img src="../assets/images/logout.jpeg" alt="Perfil" class="profile">
    </a>-->
</nav>
