<!-- src/app/login/login.component.html -->
<div class="login">
  <form class="custom-form" method="post">
    <div class="back-button-container">
      <button type="button" class="back-button" (click)="goBack()">
        &#8592;
      </button>
    </div>
    <div class="logo-container">
      <img src="/assets/images/Banners/copa-america-2024-logo-png-transparente.png" alt="Copa America Logo"
        class="logo">
    </div>
    <h1>Iniciar sesión</h1>
    <input type="email" name="email" placeholder="Email" required [(ngModel)]="email" />
    <input type="password" name="password" placeholder="Contraseña" required [(ngModel)]="password" />
    <button type="submit" (click)="login()">Ingresar</button>
  </form>
</div>