<div class="ranking-container">

  <ng-container *ngIf="isAdmin; else userNavbar">
    <app-admin-navbar></app-admin-navbar>
  </ng-container>

  <ng-template #userNavbar>
    <app-navbar></app-navbar>
  </ng-template>

  <h1>Ranking</h1>
  <table class="ranking-table">
    <thead>
      <tr>
        <th>Posición</th>
        <th>Nombre</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of ranking; let i = index">
        <td>{{ '#' + (i + 1) }}</td>
        <td>{{ person.FirstName }} {{ person.LastName }}</td>
        <td>{{ person.Points }}</td>
      </tr>
    </tbody>
  </table>
</div>