<div class="init">
  <div class="custom-form">
    <div class="logo-container">
      <img src="/assets/images/Banners/copa-america-2024-logo-png-transparente.png" alt="Copa America Logo"
        class="logo">
    </div>
    <h1>Bienvenido a la Penca de la Copa América 2024</h1>
    <p>Únete a nosotros y vive la emoción de la Copa América como nunca antes. Pronostica los resultados y compite con
      tus amigos.</p>
    <div class="buttons-container">
      <button class="btn login-btn" (click)="navigateToLogin()">Ingresar</button>
      <button class="btn register-btn" (click)="navigateToRegister()">Registrarse</button>
    </div>
  </div>
</div>